:root {
  /* color */
  --COLOR-DARKEST-GREEN : rgb(11, 29, 9);
  --COLOR-DARK-GREEN : #4C6360;
  --COLOR-MEDIUM-GREEN : #678B7F;
  --COLOR-LIGHT-GREEN:  #8AA39D;
  --COLOR-SAND: #D9CECC;
  --COLOR-PALE: #F2ECEB;
  --COLOR-DARK-WHITE: #E6ECF8;
  /* weight */
  --WEIGHT-LIGHT : 200;
  --WEIGHT-NORMAL: 400;
  --WEIGHT-HEAVY : 900;
  /* size */
  --SIZE-ILLUST: 500px;
  --SIZE-PROFILE: 15rem;
  --SIZE-SMALL-PROFILE: 13rem;
  --SIZE-LOGO: 7rem;
  --SIZE-TITLE : 3rem;
  --SIZE-BiGGEST: 2.5rem;
  --SIZE-BIG : 2rem;
  --SIZE-NORMAL : 1.5rem;
  --SIZE-SMALL : 1.25rem;
  --SIZE-SMALLEST : 1rem;
}
* {
  font-family: 'Exo', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: inline-flex;

  flex-direction: column;
  align-items: center;
  //background-color: pink;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
ul {
 padding: 0;
 margin: 0; 
}
li {
  list-style: none;
}
.invisible {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: VAR(--SIZE-NORMAL);
  max-width: 777px;
}
.nav-logo {
  height: VAR(--SIZE-LOGO);
  width: VAR(--SIZE-LOGO);
  transition: 100ms ease-in;

}
.nav-logo:hover {
    transform: scale(1.2);
}
.nav-menu {
  font-weight: var(--WEIGHT-LIGHT);
  display: none;
}
.menu-wide {
  width: 100%;
  display:none;
  flex-direction: column;
  margin-bottom: VAR(--SIZE-BiGGEST);
}
.menu-wide-show {
  display: flex;
}
.menu-wide-item {
  padding: VAR(--SIZE-SMALL);
  border-radius: 0;
  border: none;
  outline: none;
  width: 100%;
  box-shadow: none;
}
.nav-menu-item {
  font-size: 15px;
  padding: 12px;
  border-radius: 15px;
  transition: 200ms ease-in;
  margin-left: 16px;
}
.menu-btn {
  margin-right: VAR(--SIZE-BIG);
  font-size: VAR(--SIZE-BIG);
  color: #0c240f;
  font-weight: 800;
  transition: 300ms ease-in;
}
.menu-btn:hover {
  transform: scale(1.05);
  background-color: var(--COLOR-PALE);
}
.nav-menu-item:hover {
  transform: scale(1.05);
  background-color: var(--COLOR-PALE);
}
.header {
  text-align: center;
}
.header-title {
  font-size: VAR(--SIZE-BiGGEST);
}
.header-subtitle {
  font-weight: VAR(--WEIGHT-LIGHT);
  font-size: VAR(--SIZE-SMALL);
  margin-top: VAR(--SIZE-NORMAL);

}
.header-avatar {
  background-color: var(--COLOR-DARK-GREEN);
  border-radius: 50%;
  height: VAR(--SIZE-SMALL-PROFILE);
  margin-top: VAR(--SIZE-BIG);
}
.illust {
  text-align: center;
  margin-top: VAR(--SIZE-NORMAL);
}
.illust-img {
  width: VAR(--SIZE-ILLUST);
}
.intro {
  background-color: var(--COLOR-DARK-GREEN);
  color: white;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  
}
.intro-box {
  display: flex;
  //background-color: black;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin-top: 100px;
}
.intro-title {
  font-size: VAR(--SIZE-BIG);

}
.intro-content {
  font-size: VAR(--SIZE-SMALL);
  margin-top: VAR(--SIZE-SMALL);
  text-align: center;
}
.stack {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid VAR(--COLOR-DARK-WHITE);
  border-radius: 20px;
  transform: translateY(-100px);
  min-height: 500px;
  width: 80%;
  max-width: 777px;
}
.stack > div {
  font-weight: VAR(--WEIGHT-LIGHT);
  text-align: center;
  padding: VAR(--SIZE-SMALL);
  min-height: 700px;

}
.stack-languages {
  border-bottom: 1px solid VAR(--COLOR-DARK-WHITE);
  }
.stack-tools {
  border-bottom: 1px solid VAR(--COLOR-DARK-WHITE);
  }

.stack-title {
  font-size: VAR(--SIZE-NORMAL);
  color: #0c240f;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: VAR(--SIZE-BiGGEST)
}
#stack-icon {
  color: VAR(--COLOR-DARK-GREEN);
  font-size: VAR(--SIZE-TITLE);
  margin-bottom: VAR(--SIZE-SMALL);
}
.item {
  margin-bottom: VAR(--SIZE-SMALLEST);
}
.projects {
  max-width: 777px;
  width: 100%;
  margin-bottom: 200px;
}
.projects-title {
  font-size: VAR(--SIZE-BIG);
  text-align: center;
  margin: var(--SIZE-NORMAL);
}
.projects-menu {
  margin:auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.projects-menu > div {
  text-align: center;
  flex:1;
}
.menu-frontend {
  border-right: 1px solid black;
  
}
.menu-js {
  border-right: 1px solid black;
}
.menu-item {
  font-weight: VAR(--WEIGHT-LIGHT);
  font-size: VAR(--SIZE-SMALLEST);
  transition: 100ms ease-in;
}
.menu-item:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.projects-main {
  margin-top: VAR(--SIZE-TITLE);
  display: flex;
  flex-direction: column;
  align-items: center;

}
.main-item {
  width: 90%;
  height: 35%;
  margin-bottom: VAR(--SIZE-BiGGEST);
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.item-thumbnail {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: 300ms;


}
.item-thumbnail:hover {
  transform: scale(1.1);
}

.test {
  max-width: 777px;
  width: 100%;
  height: 500px;
  margin-bottom: 200px;
}
.test-title {
  font-size: VAR(--SIZE-BIG);
  text-align: center;
  margin: var(--SIZE-NORMAL);
  }
.test-person {
  display: flex;
  margin: VAR(--SIZE-SMALL);
  align-items: center;
}
.person-profile {
  margin: VAR(--SIZE-NORMAL);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: VAR(--COLOR-SAND);

}
.person-detail {
  color: VAR(--COLOR-DARKEST-GREEN);
  font-weight: VAR(--WEIGHT-NORMAL);
}
.contact {
  background-color: VAR(--COLOR-DARK-GREEN);
  width: 100%;
  text-align: center;
}
.contact-main {
  margin: 50px auto 50px auto;
  color: white;
  width: 80%;
}
.main-detail {
  width: 100%;
}
.main-title {
  font-size: VAR(--SIZE-NORMAL);
  font-weight: VAR(--WEIGHT-HEAVY);
  margin-bottom: VAR(--SIZE-BiGGEST);
}
.main-subtitle {
  font-weight: VAR(--WEIGHT-LIGHT);
  margin-bottom : VAR(--SIZE-BIG);
}
.contact-menu {
  flex-wrap: wrap;
  width: 40%;
  display: flex; 
  justify-content: space-evenly;
  margin: auto;
}

.menu-email {
  flex: 1;
  margin-bottom: VAR(--SIZE-BIG);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-link {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
#contact-icon {
  font-size: var(--SIZE-BIG);
}
.email-detail {
  margin-left: VAR(--SIZE-SMALLEST);
  font-size : VAR(--SIZE-SMALLEST);
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
  }
  .header-title {
    font-size: VAR(--SIZE-TITLE);
}
  .header-subtitle {
    font-weight: VAR(--WEIGHT-LIGHT);
    font-size: VAR(--SIZE-NORMAL);
    margin-top: VAR(--SIZE-NORMAL);

}
  .header-avatar {
    background-color: var(--COLOR-DARK-GREEN);
    border-radius: 50%;
    height: VAR(--SIZE-PROFILE);
    margin-top: VAR(--SIZE-BIG);
  }
  .nav-menu {
    display: inline;
  }
  .nav-menu-item {
    display: inline;
  }
  .menu-wide {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  .stack {
    flex-direction: row;
}
  .stack > div {
    flex:1;
  }
  .stack-languages {
    border-right: 1px solid VAR(--COLOR-DARK-WHITE);
  }
  .stack-tools {
    border-right: 1px solid VAR(--COLOR-DARK-WHITE);
  }
  .projects {
    height: 600px;

  }
  .projects-main {
    margin-top: VAR(--SIZE-TITLE);
    gap: VAR(--SIZE-BIG);
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);  
  }
  .main-item {
    width: 100%;
    height: auto;

  }
  .main-title {
    font-size: VAR(--SIZE-BIG);
  }
}
@media screen and (min-width: 1024px) {

}